@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --secondaryColor: #063970;
  --darkGreen: #067008;
  --lightGreen: #26ac5e;

  /* Text style */
  --primaryFont: "Nunito", "sans-serif";
  --secondaryFont: "Prompt", "sans-serif";
  --primaryText: var(--mainBlack);
  --secondaryText: var(--primaryColor);
  --textGray: var(--textGray);
}

body {
  font-family: var(--primaryFont);
  background-color: var(--offWhite);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.37rem;
}

::-webkit-scrollbar-track {
  background-color: var(--secondaryText);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondaryColor);
}

section {
  padding: 3.125rem 0;
}

.main-btn {
  font-size: 1rem;
  font-weight: 500;
  color: var(--mainBlack);
  text-transform: uppercase;
  background-color: transparent;
  border: 0.0625rem solid var(--secondaryColor);
  padding: 0.375rem 1.875rem;
  border-radius: 2.125rem;
  line-height: 1.75rem;
  display: inline-block;
  transition: all 0.3s ease-in-out 0s;
}

.main-btn:hover {
  background: var(--secondaryText);
  border-color: var(--secondaryText);
  color: var(--offWhite);
  border: none;
}

h1 {
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-weight: 700;
  color: var(--offWhite);
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: var(--secondaryFont);
}
h3 {
  margin-bottom: 1.875rem;
  line-height: 2.875rem;
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--secondaryColor);
  font-family: var(--secondaryFont);
}
h3 span {
  color: var(--secondaryText);
}
h5 {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--secondaryColor);
  font-weight: 500;
  font-family: var(--secondaryFont);
}
h6 {
  font-size: 0.875rem;
  margin-bottom: 0.9375rem;
  color: var(--secondaryColor);
  font-weight: 300;
  text-transform: uppercase;
  font-family: var(--secondaryFont);
}
p {
  font-size: 1rem;
  color: var(--mainBlack);
  line-height: 1.625rem;
  font-family: var(--secondaryFont);
}
.section-title:after {
  content: "";
  background-image: url("../images/title-icon.webp");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin-top: -0.9375rem;
  height: 0.9375rem;
}

/* Navbar */
.header_wrapper .navbar {
  padding: 0.9375rem 0;
  background-color: var(--offWhite);
  -webkit-box-shadow: 0 0.5rem 0.375rem rgba(0 0 0 /40%);
  box-shadow: 0 0.5rem 0.375rem -0.375rem rgba(0 0 0 /40%);
  -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
    opacity 0s ease-in-out 0s;
  transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s,
    opacity 0s ease-in-out 0s;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.header_wrapper .navbar-toggler {
  border: 0;
  color: var(--secondaryColor);
  line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}

.header_wrapper .nav-item {
  margin: 0 0.625rem;
}

.header_wrapper .nav-item .nav-link {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primaryText);
  text-transform: uppercase;
}

.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link.active {
  color: var(--secondaryText);
}

.navbar.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgb(255, 255, 255, 0.85);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown {
  0% {
    top: -30%;
  }
  50% {
    top: -15%;
  }
  100% {
    top: 0;
  }
}

/* Banner */
.banner_wrapper {
  height: 40.625rem;
}
.banner_wrapper .swiper {
  width: 100%;
  height: 100%;
}
.banner_wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner_wrapper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mainBlack);
  opacity: 0.4;
  z-index: 0;
}
.banner_wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: var(--secondaryText);
  border: 0.0625rem solid white;
}
.banner_wrapper .swiper .slide-caption {
  height: 100%;
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .banner_wrapper .swiper .slide-caption p {
  max-width: 37.5rem;
  margin: 0 auto;
  color: var(--offWhite);
}
.booking-area {
  background-color: var(--offWhite);
  box-shadow: 0.225rem 0.2375rem 0 rgb(0 0 0 /10%);
  margin-top: -4rem;
  padding: 3.125rem 1.875rem;
  position: relative;
  z-index: 99;
}

.booking-area .form-control,
.booking-area .form-select {
  border: 0.0625rem solid var(--secondaryColor);
  height: 2.5rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--mainBlack);
  font-family: var(--secondaryFont);
  font-weight: 400;
}
.booking-area .form-control:focus,
.booking-area .form-select:focus {
  outline: none;
  box-sizing: none;
} */

/* About */
.about_wrapper {
  padding-top: 10.375rem;
}

.about_wrapper p {
  font-family: var(--secondaryFont);
  font-weight: 200;
}

/* Rooms */
.rooms_wrapper .room-items {
  position: relative;
  overflow: hidden;
}
.rooms_wrapper .room-items img {
  width: 100%;
  -webkit-transition: all 400ms ease-in 0s;
  transition: all 400ms ease-in 0s;
}
.rooms_wrapper .room-items:hover img {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
}
.rooms_wrapper .room-items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mainBlack);
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 400ms ease-in 0s;
  transition: all 400ms ease-in 0s;
}
.rooms_wrapper .room-items:hover:before {
  opacity: 0.6;
}
.rooms_wrapper .room-item-wrap {
  position: absolute;
  left: 1.887rem;
  right: 1.887rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.rooms_wrapper .room-items .room-content {
  /* border: 0.122rem solid var(--mainWhite); */
  padding: 5rem 1.875rem;
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
  transform: scale3d(1.2, 1.2, 1.2);
  transition: all 500s ease-in 0s;
  opacity: 1;
}
/* .rooms_wrapper .room-items:hover .room-content {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
} */
